<!DOCTYPE html>
<html>
	<header>
		<title>The Question Master</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['general_css']; ?>
		<?php echo $GLOBALS['this_css']; ?>
	</header>
	<body class="body" topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0">
		<div class="container">
			<div class="main_menu">
			<?php \SaSeed\View::render("partial_mainMenu"); ?>
			</div>
			<br /><br /><br /><br /><br /><br /><br />
			<div class="content">
				<br />
				<span class="title_01" id="main_title">New User</span>
				<br /><br />
				<div class="formInsertCourse" id="formInsertCourse">
					<fieldset style="width: 500px;">
						<form class="form">
							<label for="id_branch">Profile:</label>
							<select name="id_profile" id="id_profile" class="main_text_input" style="width: 206px;" />
								<?php echo $profiles; ?>
							</select>
							<label for="course">User:</label> <input type="text" name="vc_user" id="vc_user" maxlength="100" class="main_text_input" />
							<label for="course">Email:</label> <input type="text" name="vc_email" id="vc_email" maxlength="100" class="main_text_input" />
							<label for="course">Password:</label> <input type="password" name="password1" id="password1" maxlength="100" class="main_text_input" />
							<label for="course">Confirm Password:</label> <input type="password" name="password2" id="password2" maxlength="100" class="main_text_input" />
							<div class="form_buttons">
								<div class="bt_cancel">
									<img class="form_button" src="/questionmaster/Application/View/img/bt_cancel.png" width="41" height="41" border="0" /><br />
									<span class="text_02">Cancel</span>
								</div>
								<div class="bt_ok new_user">
									<img class="form_button" src="/questionmaster/Application/View/img/bt_ok.png" width="41" height="41" border="0" /><br />
									<span class="text_02">OK</span>
								</div>
							</div>
						</form>
					</fieldset>
				</div>
				<div class="message_area" id="message_area" style="display: none;"></div>
			</div>
		</div>
	</body>
</html>