				<div class="logo"><a href="/questionmaster/"><img src="/questionmaster/Application/View/img/logo_02.png" width="288" height="104" border="0" /></a></div>
				<div class="separator"><img src="/questionmaster/Application/View/img/menu_detail_01.gif" width="49" height="75" border="0" /></div>
				<div class="menu">
					<div class="item_separator">&nbsp;</div>
					<div class="<?php echo $GLOBALS['menu']['branches']['css'] ?>" key="Branches">
						branches
					</div>
					<div class="item_separator">&nbsp;</div>
					<div class="<?php echo $GLOBALS['menu']['courses']['css'] ?>" key="Courses">
						courses
					</div>
					<div class="item_separator">&nbsp;</div>
					<div class="<?php echo $GLOBALS['menu']['questions']['css'] ?>" key="Questions">
						questions
					</div>
					<div class="item_separator">&nbsp;</div>
					<div class="<?php echo $GLOBALS['menu']['users']['css'] ?>" key="Users">
						users
					</div>
					<br />
					<div class="details" id="blank_display" style="display: <?php echo $GLOBALS['menu']['blank']['display'] ?>;">
					</div>
					<div class="details" id="Branches" style="display: <?php echo $GLOBALS['menu']['branches']['display'] ?>;">
						<div class="<?php echo $GLOBALS['menu']['branches']['opt1_css'] ?>" key="Insert">insert</div>
						<div class="<?php echo $GLOBALS['menu']['branches']['opt2_css'] ?>" key="Search">search</div>
					</div>
					<div class="details" id="Courses" style="display: <?php echo $GLOBALS['menu']['courses']['display'] ?>;">
						<div class="<?php echo $GLOBALS['menu']['courses']['opt1_css'] ?>" key="Insert">insert</div>
						<div class="<?php echo $GLOBALS['menu']['courses']['opt2_css'] ?>" key="Search">search</div>
					</div>
					<div class="details" id="Questions" style="display: <?php echo $GLOBALS['menu']['questions']['display'] ?>;">
						<div class="<?php echo $GLOBALS['menu']['questions']['opt1_css'] ?>" key="Insert">insert</div>
						<div class="<?php echo $GLOBALS['menu']['questions']['opt2_css'] ?>" key="Search">search</div>
					</div>
					<div class="details" id="Users" style="display: <?php echo $GLOBALS['menu']['users']['display'] ?>;">
						<div class="<?php echo $GLOBALS['menu']['users']['opt1_css'] ?>" key="Insert">insert</div>
						<div class="<?php echo $GLOBALS['menu']['users']['opt2_css'] ?>" key="Search">search</div>
					</div>
				</div>